body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header a {
  text-decoration: none;
}

@media (max-width: 650px) {
  header {
    width: 100%;
    height: 10vh;
    box-shadow: 0px 3.15789px 18.1579px rgba(0, 0, 0, 0.25);
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999px;
    display: flex;
    align-items: center;
  }

  .conteinerLogoSheader {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logoSHeader {
    width: 50%;
  }

  .conteinerTxtHeader {
    width: auto;
    height: 100%;
    margin-left: 1.5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .TxtHeader {
    font-size: 2.1vh;
    color: #1E1E1E;
  }


  /* ------------ Header ------------  */



  /* ------------ Main section ------------  */

  section.mainSection {
    width: 87.5%;
    height: 100vh;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  section.download {
    width: 87.5%;
    height: 90vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  section.download .MainTitle {
    text-align: start;
  }

  section.download .MainSubTitle {
    text-align: start;
  }


  section.download .conteinerButton {
    justify-content: flex-start;
  }

  section.download .buttonDownload {
    margin-left: 0;
  }


  section.download .warningMsg {
    color: #595959;
  }

  .MainTitle {
    font-size: 5.5vh;
    text-align: center;
  }

  .MainSubTitle {
    width: 80%;
    font-size: 2.75vh;
    text-align: center;
  }

  .conteinerButton {
    width: 80%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buttonDownload {
    text-decoration: none;
    width: 45%;
    height: 55%;
    background-color: #1E1E1E;
    border: #1E1E1E solid 2px;
    border-radius: 10px;
    transition: all 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1%;
    margin-left: 1%;
  }

  .txtButtonDownload {
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75vh;
  }

  .buttonDownload:hover {
    background-color: #fff;
    border: #1E1E1E solid 2px;
  }


  .buttonDownload:hover .txtButtonDownload {
    color: #1E1E1E;
  }

  .LeftConteiner {
    width: 65%;
    height: 100%;
  }

  .RightConteiner {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .RightConteiner img {
    width: 100%;
    height: auto;
  }


  .ConteinerTxtMain {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .titleTxtMain {
    font-size: 4.5vh;
  }

  .txtPMain {
    font-weight: 400;
    font-size: 2.75vh;
    width: 50%;
    height: auto;
  }

  .conteinerIMGstore {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .conteinerIMGstore img {
    height: 50%;
    width: auto;
  }


  /* ------------ Main section ------------  */







  /* ------------ SecondSection ------------  */

  .SecondSection {
    background-color: #1E1E1E;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .conteinerSecond {
    width: 80%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .conteinerSvg {
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .conteinerSvg svg {
    width: 75%;
    height: auto;
  }

  .txtConteinerSecond {
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .txtConteinerSecond .title {
    color: #fff;
    font-size: 4vh;
    margin-bottom: 7.5%;
    text-align: center;
  }

  .txtConteinerSecond .subTitle {
    width: 95%;
    color: #fff;
    font-size: 2.25vh;
    text-align: center;
  }


  .conteinerInfoApp {
    width: 28vh;
    padding: 1.5vh;
    height: 50vh;
    box-shadow: 0px 0px 37.5px 0px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  .TitleInfoApp {
    font-size: 2.5vh;
    font-weight: 700;
    margin-top: 10%;
    margin-bottom: 20%;
  }

  .imgInfoApp {
    width: 50%;
    height: auto;
    margin-bottom: 20%;

  }

  .txtInfoApp {
    margin-bottom: 10%;

    font-size: 1.95vh;
  }


  /* ------------ SecondSection ------------  */

  /* ------------ thirdSection ------------  */


  .ThirdSection {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }



  .conteinerThird {
    width: 80%;
    height: 75%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }



  .txtConteinerThird {
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .txtConteinerThird .title {
    color: #1E1E1E;
    font-size: 4vh;
    margin-bottom: 2%;
    text-align: center;
  }

  .txtConteinerThird .subTitle {
    width: 95%;
    color: #1E1E1E;
    font-size: 2.25vh;
    text-align: center;
  }




  /* ------------ thirdSection ------------  */


  /* ------------ FourSection ------------  */


  .FourSection {
    background-color: #1E1E1E;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }



  /* ------------ FourSection ------------  */


  /* ------------ ContactoSection ------------  */




  .ContactoSection {
    width: 87.5%;
    height: 100vh;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .ContactoTitleM {
    font-size: 3.75vh;
    margin: 0;
    text-align: center;
  }

  .ContactoTitleL {
    font-size: 4.25vh;
    margin: 0;
  }

  .conteinerInputContacto {
    width: 100%;
    height: 45%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .rowContacto {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: space-around;
  }

  .UnitInput {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
  }


  label.contacto {
    font-size: 1.95vh;
    color: #1E1E1E;
    font-weight: 700;
  }

  label.contacto::selection {
    background-color: #a49cbf;
  }


  .inputContacto {
    font-size: 1.75vh;
    color: #1E1E1E;
    width: 100%;
    height: 35%;
    background: none;
    border: none;
    border-bottom: 0.25vh solid #1E1E1E;
  }

  .inputContacto::placeholder {
    color: #1E1E1E;

  }

  .inputContacto:focus {
    outline: none;
  }

  .unitTextarea {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  .textareaContacto {
    color: #1E1E1E;
    background: none;
    border: none;
    border-bottom: 0.25vh solid #1E1E1E;
    display: flex;
    font-size: 1.75vh;

  }

  .textareaContacto::placeholder {
    color: #1E1E1E;
    font-weight: 400;
    font-style: normal;
    font-family: '__Lato_9b66ea', '__Lato_Fallback_9b66ea';
  }

  .textareaContacto:focus {
    outline: none;
  }

  .buttonSend {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1E1E1E;
    border: 0.25vh solid #1E1E1E;
    width: 25%;
    height: 10%;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .buttonSend:hover {
    color: #D8D4E4;
    background-color: #1E1E1E;
  }







  /* ------------ ContactoSection ------------  */



  /* ------------ Footer ------------  */

  footer {
    width: 100%;
    height: 50vh;
    background-color: #1E1E1E;

  }

  .topPartFooter {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .topPartFooter img {
    width: 50%;
  }


  .bottomPartFooter {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .bottomPartFooter img {
    height: 40%;
    width: auto;
    margin-left: 2.5%;
  }

  /* ------------ Footer ------------  */
}

@media (min-width: 651px) and (max-width: 900px) {
  header {
    width: 100%;
    height: 10vh;
    box-shadow: 0px 3.15789px 18.1579px rgba(0, 0, 0, 0.25);
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999px;
    display: flex;
    align-items: center;
  }

  .conteinerLogoSheader {
    width: 5%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .logoSHeader {
    width: 50%;
  }

  .conteinerTxtHeader {
    width: auto;
    height: 100%;
    margin-left: 1.5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .TxtHeader {
    font-size: 2.1vh;
    color: #1E1E1E;
  }


  /* ------------ Header ------------  */



  /* ------------ Main section ------------  */

  section.mainSection {
    width: 87.5%;
    height: 100vh;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  section.download {
    width: 87.5%;
    height: 90vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  section.download .MainTitle {
    text-align: start;
  }

  section.download .MainSubTitle {
    text-align: start;
  }


  section.download .conteinerButton {
    justify-content: flex-start;
  }

  section.download .buttonDownload {
    margin-left: 0;
  }


  section.download .warningMsg {
    color: #595959;
  }

  .MainTitle {
    font-size: 5.5vh;
    text-align: center;
  }

  .MainSubTitle {
    width: 80%;
    font-size: 2.75vh;
    text-align: center;
  }

  .conteinerButton {
    width: 80%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buttonDownload {
    text-decoration: none;
    width: 45%;
    height: 55%;
    background-color: #1E1E1E;
    border: #1E1E1E solid 2px;
    border-radius: 10px;
    transition: all 0.25s;
  }

  .txtButtonDownload {
    color: #fff;
    width: 100%;
    height: 100%;
    transition: all 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1%;
    margin-left: 1%;
    font-size: 1.75vh;
  }

  .buttonDownload:hover {
    background-color: #fff;
    border: #1E1E1E solid 2px;
  }


  .buttonDownload:hover .txtButtonDownload {
    color: #1E1E1E;
  }

  .LeftConteiner {
    width: 65%;
    height: 100%;
  }

  .RightConteiner {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .RightConteiner img {
    width: 100%;
    height: auto;
  }


  .ConteinerTxtMain {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .titleTxtMain {
    font-size: 4.5vh;
  }

  .txtPMain {
    font-weight: 400;
    font-size: 2.75vh;
    width: 50%;
    height: auto;
  }

  .conteinerIMGstore {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .conteinerIMGstore img {
    height: 50%;
    width: auto;
  }


  /* ------------ Main section ------------  */







  /* ------------ SecondSection ------------  */

  .SecondSection {
    background-color: #1E1E1E;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .conteinerSecond {
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .conteinerSvg {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .conteinerSvg svg {
    width: 75%;
    height: auto;
  }

  .txtConteinerSecond {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .txtConteinerSecond .title {
    color: #fff;
    font-size: 4vh;
    margin-bottom: 2%;
  }

  .txtConteinerSecond .subTitle {
    width: 95%;
    color: #fff;
    font-size: 2.25vh;
  }


  .conteinerInfoApp {
    width: 28vh;
    padding: 1.5vh;
    height: 50vh;
    box-shadow: 0px 0px 37.5px 0px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  .TitleInfoApp {
    font-size: 2.5vh;
    font-weight: 700;
    margin-top: 10%;
    margin-bottom: 20%;
  }

  .imgInfoApp {
    width: 50%;
    height: auto;
    margin-bottom: 20%;

  }

  .txtInfoApp {
    margin-bottom: 10%;

    font-size: 1.95vh;
  }


  /* ------------ SecondSection ------------  */

  /* ------------ thirdSection ------------  */


  .ThirdSection {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }



  .conteinerThird {
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .conteinerSvg {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .conteinerSvg svg {
    width: 75%;
    height: auto;
  }

  .txtConteinerThird {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  .txtConteinerThird .title {
    color: #1E1E1E;
    font-size: 4vh;
    margin-bottom: 2%;
    text-align: end;
  }

  .txtConteinerThird .subTitle {
    width: 95%;
    color: #1E1E1E;
    font-size: 2.25vh;
    text-align: end;
  }




  /* ------------ thirdSection ------------  */


  /* ------------ FourSection ------------  */


  .FourSection {
    background-color: #1E1E1E;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }



  /* ------------ FourSection ------------  */


  /* ------------ ContactoSection ------------  */




  .ContactoSection {
    width: 87.5%;
    height: 100vh;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .ContactoTitleM {
    font-size: 3.75vh;
    margin: 0;
    text-align: center;
  }

  .ContactoTitleL {
    font-size: 4.25vh;
    margin: 0;
  }

  .conteinerInputContacto {
    width: 100%;
    height: 45%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .rowContacto {
    width: 75%;
    height: 35%;
    display: flex;
    justify-content: space-around;
  }

  .UnitInput {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
  }


  label.contacto {
    font-size: 1.95vh;
    color: #1E1E1E;
    font-weight: 700;
  }

  label.contacto::selection {
    background-color: #a49cbf;
  }


  .inputContacto {
    font-size: 1.75vh;
    color: #1E1E1E;
    width: 100%;
    height: 35%;
    background: none;
    border: none;
    border-bottom: 0.25vh solid #1E1E1E;
  }

  .inputContacto::placeholder {
    color: #1E1E1E;

  }

  .inputContacto:focus {
    outline: none;
  }

  .unitTextarea {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  .textareaContacto {
    color: #1E1E1E;
    background: none;
    border: none;
    border-bottom: 0.25vh solid #1E1E1E;
    display: flex;
    font-size: 1.75vh;

  }

  .textareaContacto::placeholder {
    color: #1E1E1E;
    font-family: '__Lato_f69f3b', '__Lato_Fallback_f69f3b';
    font-weight: 400;
    font-style: normal;
  }

  .textareaContacto:focus {
    outline: none;
  }

  .buttonSend {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1E1E1E;
    border: 0.25vh solid #1E1E1E;
    width: 10%;
    height: 15%;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .buttonSend:hover {
    color: #D8D4E4;
    background-color: #1E1E1E;
  }







  /* ------------ ContactoSection ------------  */



  /* ------------ Footer ------------  */

  footer {
    width: 100%;
    height: 50vh;
    background-color: #1E1E1E;

  }

  .topPartFooter {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .topPartFooter img {
    width: 17.5%;
  }


  .bottomPartFooter {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .bottomPartFooter img {
    height: 40%;
    width: auto;
    margin-left: 2.5%;
  }

  /* ------------ Footer ------------  */
}

@media (min-width: 901px) {
  header {
    width: 100%;
    height: 10vh;
    box-shadow: 0px 3.15789px 18.1579px rgba(0, 0, 0, 0.25);
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999px;
    display: flex;
    align-items: center;
  }

  .conteinerLogoSheader {
    width: 5%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .logoSHeader {
    width: 50%;
  }

  .conteinerTxtHeader {
    width: auto;
    height: 100%;
    margin-left: 1.5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .TxtHeader {
    font-size: 2.1vh;
    color: #1E1E1E;
  }


  /* ------------ Header ------------  */



  /* ------------ Main section ------------  */

  section.mainSection {
    width: 87.5%;
    height: 100vh;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  section.download {
    width: 87.5%;
    height: 90vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  section.download .MainTitle {
    text-align: start;
  }

  section.download .MainSubTitle {
    text-align: start;
  }


  section.download .conteinerButton {
    justify-content: flex-start;
  }

  section.download .buttonDownload {
    margin-left: 0;
  }


  section.download .warningMsg {
    color: #595959;
  }

  .MainTitle {
    font-size: 5.5vh;
    text-align: center;
  }

  .MainSubTitle {
    width: 35%;
    font-size: 2.75vh;
    text-align: center;
  }

  .conteinerButton {
    width: 80%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buttonDownload {
    text-decoration: none;
    width: 15%;
    height: 50%;
    background-color: #1E1E1E;
    border: #1E1E1E solid 2px;
    border-radius: 10px;
    transition: all 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1%;
    margin-left: 1%;
  }

  .txtButtonDownload {
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75vh;
    padding: 5%;
  }

  .buttonDownload:hover {
    background-color: #fff;
    border: #1E1E1E solid 2px;
  }


  .buttonDownload:hover .txtButtonDownload {
    color: #1E1E1E;
  }

  .LeftConteiner {
    width: 65%;
    height: 100%;
  }

  .RightConteiner {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .RightConteiner img {
    width: 100%;
    height: auto;
  }


  .ConteinerTxtMain {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .titleTxtMain {
    font-size: 4.5vh;
  }

  .txtPMain {
    font-weight: 400;
    font-size: 2.75vh;
    width: 50%;
    height: auto;
  }

  .conteinerIMGstore {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .conteinerIMGstore img {
    height: 50%;
    width: auto;
  }


  /* ------------ Main section ------------  */







  /* ------------ SecondSection ------------  */

  .SecondSection {
    background-color: #1E1E1E;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .conteinerSecond {
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .conteinerSvg {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .conteinerSvg svg {
    width: 75%;
    height: auto;
  }

  .txtConteinerSecond {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .txtConteinerSecond .title {
    color: #fff;
    font-size: 4vh;
    margin-bottom: 2%;
  }

  .txtConteinerSecond .subTitle {
    width: 95%;
    color: #fff;
    font-size: 2.25vh;
  }


  .conteinerInfoApp {
    width: 28vh;
    padding: 1.5vh;
    height: 50vh;
    box-shadow: 0px 0px 37.5px 0px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  .TitleInfoApp {
    font-size: 2.5vh;
    font-weight: 700;
    margin-top: 10%;
    margin-bottom: 20%;
  }

  .imgInfoApp {
    width: 50%;
    height: auto;
    margin-bottom: 20%;

  }

  .txtInfoApp {
    margin-bottom: 10%;

    font-size: 1.95vh;
  }


  /* ------------ SecondSection ------------  */

  /* ------------ thirdSection ------------  */


  .ThirdSection {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }



  .conteinerThird {
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .conteinerSvg {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .conteinerSvg svg {
    width: 75%;
    height: auto;
  }

  .txtConteinerThird {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  .txtConteinerThird .title {
    color: #1E1E1E;
    font-size: 4vh;
    margin-bottom: 2%;
    text-align: end;
  }

  .txtConteinerThird .subTitle {
    width: 95%;
    color: #1E1E1E;
    font-size: 2.25vh;
    text-align: end;
  }




  /* ------------ thirdSection ------------  */


  /* ------------ FourSection ------------  */


  .FourSection {
    background-color: #1E1E1E;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }



  /* ------------ FourSection ------------  */


  /* ------------ ContactoSection ------------  */




  .ContactoSection {
    width: 87.5%;
    height: 100vh;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .ContactoTitleM {
    font-size: 3.75vh;
    margin: 0;
    text-align: center;
  }

  .ContactoTitleL {
    font-size: 4.25vh;
    margin: 0;
  }

  .conteinerInputContacto {
    width: 100%;
    height: 45%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .rowContacto {
    width: 75%;
    height: 35%;
    display: flex;
    justify-content: space-around;
  }

  .UnitInput {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
  }


  label.contacto {
    font-size: 1.95vh;
    color: #1E1E1E;
    font-weight: 700;
  }

  label.contacto::selection {
    background-color: #a49cbf;
  }


  .inputContacto {
    font-size: 1.75vh;
    color: #1E1E1E;
    width: 100%;
    height: 35%;
    background: none;
    border: none;
    border-bottom: 0.25vh solid #1E1E1E;
  }

  .inputContacto::placeholder {
    color: #1E1E1E;

  }

  .inputContacto:focus {
    outline: none;
  }

  .unitTextarea {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  .textareaContacto {
    color: #1E1E1E;
    background: none;
    border: none;
    border-bottom: 0.25vh solid #1E1E1E;
    display: flex;
    font-size: 1.75vh;

  }

  .textareaContacto::placeholder {
    color: #1E1E1E;
    font-family: '__Lato_f69f3b', '__Lato_Fallback_f69f3b';
    font-weight: 400;
    font-style: normal;
  }

  .textareaContacto:focus {
    outline: none;
  }

  .buttonSend {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1E1E1E;
    border: 0.25vh solid #1E1E1E;
    width: 10%;
    height: 15%;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .buttonSend:hover {
    color: #D8D4E4;
    background-color: #1E1E1E;
  }







  /* ------------ ContactoSection ------------  */



  /* ------------ Footer ------------  */

  footer {
    width: 100%;
    height: 25vh;
    background-color: #1E1E1E;

  }

  .topPartFooter {
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .topPartFooter img {
    width: 17.5%;
  }


  .bottomPartFooter {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .bottomPartFooter img {
    height: 40%;
    width: auto;
    margin-left: 2.5%;
  }

  .Powerbytext {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* ------------ Footer ------------  */
}